/*======================================
				BASIC
======================================*/

body {
	background-color: #D1E2ED;
	margin-top: 0px;
}

#header{
	height: 170px;
	width: 100%;
	border-radius: 5px;
	background: #DBD1C8;
}

#main {
	border-radius:10px;
	margin-bottom: 20px;
	border-radius:10px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	height: 35px;
	width: 100%;
	background-color: #343643;
	border-radius: 5px;
	color: white;
	padding-top: 10px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

/*======================================
				HEADER
======================================*/

#header_top {
	background-color: #343643;
	height: 120px;
	border-radius: 5px;
	color: white;
}

#header_left {
	height: 105px;
	width: 500px;
	float: left; 
	font-size: 30px;
	text-align: center;
	font-family: Georgia;
	padding-top: 5px;
	margin-top: 0px;
	margin-left: 25px;
}

#header_right {
	height: 100px;
	width: 350px;
	float: right; 
	font-size: 14px;
	font-family: 'Consolas';
	padding-top: 0px;
	padding-left: 10px;
	margin-top: 8px;
	margin-right: 25px;
	color: white;
	font-size: 16px;
}

#header_right_name {
	color: #D17A08;
	font-weight: bold;

}

#header_right_info {
	color: white;
	font-size: 16px;
}

#header_right a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#header_right a:hover{
	color: #D17A08;
	text-decoration: none;
	font-weight: bold;
}

#header_menu {
	height: 40px;
	width: 100%;
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #343643;
	border-radius: 5px;
}

/*======================================
				MENU
======================================*/

#menu_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu_item {
	display: inline-block;
	padding: 5px 0px 4px 5px;
}

.menu_link {
	width: 120px;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: F4F2EC;
}

.menu_link:hover {
	width: 120px;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: F4F2EC;
}

/*======================================
				LINKS
======================================*/

a {
	color: #E6D3D3;
}

a:hover {
	color: red;
}

/*======================================
				ADD FILE
======================================*/

/* Κυρίος τίτλος */
#add_title {
	height: 25px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-top: 8px;
	text-transform: uppercase;
	background-color: #343643;
	color: white;
	word-spacing: 4px;
	letter-spacing: 2px;
	border-radius: 5px;
}

/* Τίτλοι στα κουτιά, step1, step2 */
#add_step_title {
	height: 30px;
	background-color: #343643;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 30px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

/* Περιλαμβάνει τα δυο βήματα */
#add_main_inside {
	margin: auto auto 50px auto; /* Στοίχηση στο κέντρο */
	width: 840px; /* Ορισμός πλάτους */
}

/* Πηροφορίες για το πρώτο box */
#step1 {
	width: 800px;
	height: 500px;
	background-color: #DBD1C8;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
	box-shadow: 10px 10px 15px #343643;
	font-family: 'Consolas';
}

/* Πληροφορίες για το δεύτερο box */
#step2{
	width: 800px;
	height: 950px;
	background-color: #DBD1C8;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
	box-shadow: 10px 10px 15px #343643;
	font-family: 'Consolas';
}

/****************************************************/
/* Πρώτο box μορφοποιήσεις */
#step1_data {
	width: 100%;
	padding-top: 5px;
}

#step1_data table{
	margin-left: 20px;
}

#step1_data select {
	width: 200px;
}

#step1_data td {
	width: 200px;
	text-align: right;
}

#step1_data input {
	margin-top: 10px;
	margin-left: 20px;
	height: 30px;
	width: 100px;
}

#step1_data th{
	text-align: right;
	width: 160px
}
/****************************************************/



/****************************************************/
/* Πρώτος πίνακας με τα δεδομένα στο αρχείο add.php */

#add_table1 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table1 th {
	width: 250px;
	text-align: right;
}

#add_table1 td {
	width: 300px;
	text-align: right;
}

#add_table1 input {
	width: 250px;
}

#add_table1 select {
	width: 250px;
}
/****************************************************/

/****************************************************/
/* Δεύτερος πίνακας με τα δεδομένα στο αρχείο add.php */
#add_table2 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table2 th {
	width: 250px;
	text-align: right;
}

/*
	Υπάρχει μια μικρή διαφορά με τα άλλα
	για εμφανίζεται και κείμενο
*/
#add_table2 td {
	width: 250px;
	text-align: left;
	padding-left: 50px;
}

#add_table2 input {
	width: 250px;
}

#add_table2 select {
	width: 250px;
}
/****************************************************/

/****************************************************/
/* Τρίτος πίνακας με τα δεδομένα στο αρχείο add.php */
/*
	Υπάρχει μια μικρή διαφορά με τα άλλα
	για εμφανίζεται και κείμενο
*/
#add_table3 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table3 th {
	width: 250px;
	text-align: right;
}

#add_table3 td {
	width: 280px;
	text-align: left;
	padding-left: 50px;
}

#add_table3 input {
	width: 250px;
}

#add_table3 select {
	width: 250px;
}
/****************************************************/

/****************************************************/
/* Τέταρτος πίνακας με τα δεδομένα στο αρχείο add.php */
#add_table4 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table4 th {
	width: 250px;
	text-align: right;
}

#add_table4 td {
	width: 300px;
	text-align: right;
}

#add_table4 input {
	width: 250px;
}

#add_table4 select {
	width: 250px;
}
/****************************************************/

/****************************************************/
/* Πέμπτος πίνακας με τα δεδομένα στο αρχείο add.php */
#add_table5 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table5 th {
	width: 250px;
	text-align: center;
}

#add_table5 textarea {
	resize: vertical;
	height: 200px;
	width: 350px;
}

/****************************************************/

/****************************************************/
/* Έκτος πίνακας με τα δεδομένα στο αρχείο add.php */
#add_table6 {
	padding: 15px 0px 0px 35px;
	font-family: "Consolas";
}

#add_table6 th {
	width: 350px;
	text-align: right;
}

#add_table6 td {
	width: 100px;
	text-align: right;
}
/****************************************************/

/* Τελική υποβολή βλάβης */
#add_last_submit {

	padding: 20px 0px 0px 350px;
	font-family: "Consolas";
}

#add_last_submit input {
	height: 30px;
	width: 100px;
}

/******************* INSTANT SEARCH *****************/

/* Περιέχει τα δυο παρακάτω */
#instant_search {
	padding-left: 20px;
}

#instant_search td{
	text-align: center;
	width: 350px;
}
/****************************************************/

#search_results {
	width: 100%;
	height: 230px;
	font-family: 'Consolas';
}

/* version */
#version {
	font-family: 'Consolas';
	font-weight: bold;
	font-size: 20px;
	color: #D17A08;
	padding-top: 55px;
	padding-left: 15px;
}